html,body{
    background:rgb(220,220,220);
    font-family: sans-serif;
}
header,main,footer{
    width:800px;
    margin:auto;
    background:white;
    padding:20px;
    position:relative;
}
header,footer{
    z-index:100;
    text-align:center;
}
main{
    z-index:0;
    box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}
section{
    width:70%;
    box-sizing: border-box;
    padding:20px;
    float:left;
}
aside{
    width:30%;
    box-sizing: border-box;
    padding:20px;
    float:right;
}
.clearfix{
    clear:both;
}
aside img{
    width:100%;
}
article img{
    width:200px;
    float:left;
    margin-right:20px;
    margin-bottom:20px;
}
p{
    text-align:justify;
}
footer p{
    text-align:center;
}
article{
    margin-bottom:50px;
}
